<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">순번</th>
    <th class="tg-0pky">일련번호</th>
    <th class="tg-0pky">증번호</th>
    <th class="tg-0pky">주민등록번호</th>
    <th class="tg-0pky">성명</th>
    <th class="tg-0pky">자격취득일</th>
    <th class="tg-0pky">자격상실일</th>
    <th class="tg-c3ow">장애인</th>
    <th class="tg-c3ow">임원</th>
    <th class="tg-c3ow">계약직</th>
    <th class="tg-c3ow">군입대</th>
    <th class="tg-c3ow">군제대</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">1</td>
    <td class="tg-0pky">01</td>
    <td class="tg-0pky">73164491741</td>
    <td class="tg-0pky">550104-1<span style="font-weight:bold">******</span></td>
    <td class="tg-0pky">김인찬</td>
    <td class="tg-0pky">1989.04.20</td>
    <td class="tg-0pky">1997.10.01</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky">O</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">2</td>
    <td class="tg-0pky">01</td>
    <td class="tg-0pky">73164491756</td>
    <td class="tg-0pky">721201-2<span style="font-weight:bold">******</span></td>
    <td class="tg-0pky">서미정</td>
    <td class="tg-0pky">1991.01.01</td>
    <td class="tg-0pky">2003.02.06</td>
    <td class="tg-0pky">O</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">3</td>
    <td class="tg-0pky">01</td>
    <td class="tg-0pky">73164491761</td>
    <td class="tg-0pky">430625-1<span style="font-weight:bold">******</span></td>
    <td class="tg-0pky">이석정</td>
    <td class="tg-0pky">1991.07.20</td>
    <td class="tg-0pky">2001.07.01</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky">O</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky">2018.1.1</td>
    <td class="tg-0pky">2018.06.02</td>
  </tr>
  <tr>
    <td class="tg-c3ow">3</td>
    <td class="tg-c3ow">01</td>
    <td class="tg-c3ow">73164491761</td>
    <td class="tg-c3ow">430625-1<span style="font-weight:bold">******</span></td>
    <td class="tg-c3ow">이석정</td>
    <td class="tg-c3ow">1991.07.20</td>
    <td class="tg-c3ow">2001.07.01</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
</tbody>
</table>